* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    zoom: 0;
    list-style: none;
}


.header {
    min-height: 80px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo-style {
    padding: 1rem;
    border: 1px solid black;
}

.simple__image-section {
    min-height: 60vh;
    background: yellow;
}